<div class="row header">
  <div class="columns small-12">
    <h1>Login</h1>
  </div>
</div>

<%= form_tag :login do %>
<div class="row">
  <div class="columns small-12 medium-10 medium-offset-1 large-6 large-offset-3 end">
    <%= label_tag :email do %>
    Email:
    <%= email_field_tag :email %>
    <% end %>
  </div>
  <div class="columns small-12 medium-10 medium-offset-1 large-6 large-offset-3 end">
    <%= label_tag :password do %>
    Password:
    <%= password_field_tag :password %>
    <% end %>
  </div>
  <div class="columns small-12 medium-10 medium-offset-1 large-6 large-offset-3 end text-center">
    <%= submit_tag "Signup", { class: "button large" } %>
  </div>
</div>
<% end %>
