<h1>Events</h1>

<% @events.each do |event| %>
<div>
    <p><%= link_to "Share", "https://twitter.com/intent/tweet?text=Iré al #{event.title} @ #{event.event_datetime.to_time}&url=#{event_url(id:event.id)}" %></p>
    <p><%= event.event_datetime %></p>
    <h2><%= event.title %></h2>
    <%= link_to "View", event_path(event.id) %>
</div>
<% end %>

<hr>

<h2>Today's Highlight</h2>
<% @highlights.each do |event| %>
<div>
    <h3><%= event.title %> <span><%= event.event_datetime %></span></h3>
    <p><%= truncate event.description, length: 20 %></p>
</div>
<% end %>

<% if current_user %>
<%= link_to "New event", :new_event %>
<% end %>