<div class="row">
    <div class="columns small-12">
        <h1><%= @event.title %></h1>
        <p><%= link_to "Editar", edit_event_path(id: @event.id) %> | <%= link_to "Eliminar", event_path(id: @event.id), method: :delete, data: { confirm: "Are you sure?" } %></p>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <%=raw @event.description %>
    </div>
</div>

<hr>

<% @event.event_dates.each do |d| %>
<p>Date: <%= d.get_date %></p>
<p>Time: <%= d.get_time %></p>
<p>Price: <%= d.event_price %></p>
<% end %>