<div class="row header">
    <div class="columns small-12">
        <h1>
            <%= @event.title %>
            <span class="small"><%= @event.location %></span>
        </h1>
        <p>
            <%= link_to (fa_icon "arrow-left", text: "Back"), :back %> | <%= link_to (fa_icon "home", text: "Home"), :root %>
            <% if current_user %>
            |
            <%= link_to (fa_icon "pencil", text: "Edit"), edit_event_path(id: @event.id) %> | <%= link_to (fa_icon "trash", text: "Delete"), event_path(id: @event.id), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
        </p>
    </div>
</div>

<div class="row">
    <div class="columns large-7 medium-8 small-12">
        <%=raw @event.description %>
    </div>
    <div class="columns large-5 medium-4 small-12">
        <div class="event-img">
            <%= image_tag @event.image_url %>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Time</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <% @event.event_dates.each do |d| %>
                <tr>
                    <td><%= d.get_date %></td>
                    <td><%= d.get_time %></td>
                    <td><%= number_to_currency(d.event_price, currency: '$') %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<hr>