<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) + " | Events" : "Events" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <section id="login-row">
      <div class="row">
        <div class="columns small-12 text-right">
          <% if current_user %>
            <%= fa_icon "user", text: current_user.name %> | <%= link_to "List events", :events %> | <%= link_to "Logout", :logout %>
          <% else %>
            <%= link_to 'Login', :new_login %> | <%= link_to 'Signup', :new_register %>
          <% end %>
        </div>
      </div>
    </section>

    <section id="content">
      <%= yield %>
    </section>

  </body>
</html>
